@media screen and (max-width: 1000px) {
    nav{
        flex-direction: column;
    }

    .logo{
        justify-content: center;
        margin: 12px 0;
    }

    nav ul{
        justify-content: center;
        height: 30px;
    }

    .search{
        justify-content: center;
    }

    .search input{
        margin: 15px 10px 15px 20px;
        width: 50vw;
    }

    .btn{
        padding: 8px 15px;   
        margin-right: 30px;
    }

    .slider img{
        height: 150px;
        width: 80vw;
    }

    .slider{
        width: 80vw;
    }

    .card-item img{
        height: 150px;
        width: 150px;
        border-radius: 20px;
    }
    
    .card-item img:hover{
        height: 170px;
        width: 170px;
    }

    .card-item{
        margin: 25px 20px;
    }

    .card{
        justify-content: center;
    }

    .card h2{
        font-size: 1.2rem;
    }
    
}